<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.sonar.SonarPublisher_-DescriptorImpl plugin="sonar@2.1">
  <installations>
    <hudson.plugins.sonar.SonarInstallation>
      <name>Sonar</name>
      <disabled>false</disabled>
      <serverUrl>http://{{ sonar_host }}:{{ sonar_port }}</serverUrl>
      <mojoVersion></mojoVersion>
      <databaseUrl>jdbc:mysql://{{ sonar_mysql_host }}:{{ sonar_mysql_port }}/{{ sonar_mysql_database }}?autoReconnect=true</databaseUrl>
      <databaseDriver>com.mysql.jdbc.Driver</databaseDriver>
      <databaseLogin>{{ sonar_mysql_user }}</databaseLogin>
      <databasePassword>{{ sonar_mysql_password }}</databasePassword>
      <additionalProperties></additionalProperties>
      <triggers>
        <skipScmCause>false</skipScmCause>
        <skipUpstreamCause>false</skipUpstreamCause>
        <envVar></envVar>
      </triggers>
      <sonarLogin></sonarLogin>
    </hudson.plugins.sonar.SonarInstallation>
  </installations>
</hudson.plugins.sonar.SonarPublisher_-DescriptorImpl>